body {
  background-color: rgb(227, 241, 241);
}
form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#logo {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 200px;
  height: auto;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#listar {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #0056b3;
}

#form-container {
  display: block;
}

#list-container {
  display: none;
}
